<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Summary</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <p>Balance: 239 ETH</p>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-12">
                        <i class="nc-icon nc-stre-down"></i> 0.029 ETH over the past 7 days
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">My Apps</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="card col-md-3 col-lg-3" style="text-align: center;">
                        <div class="card-header ">
                            <h4 class="card-title">Spotify</h4>
                        </div>
                        <div class="card-body ">
                            <img width="75" src="/img/spotify-logo.png"/>
                            <p>Usage: 0.10ETH</p>
                            <button type="submit" class="btn btn-danger btn-fill">Delete</button>
                        </div>
                    </div>
                    <div class="card col-md-3 col-lg-3" style="text-align: center;">
                        <div class="card-header ">
                            <h4 class="card-title">YouTube</h4>
                        </div>
                        <div class="card-body ">
                            <img width="75" src="/img/youtube_v2-512.png"/>
                            <p>Usage: 0.15ETH</p>
                            <button type="submit" class="btn btn-danger btn-fill">Delete</button>
                        </div>
                    </div>
                    <div class="card col-md-3 col-lg-3" style="text-align: center;">
                        <div class="card-header ">
                            <h4 class="card-title">PornHub</h4>
                        </div>
                        <div class="card-body ">
                            <img width="75" src="/img/pornhub.jpg"/>
                            <p>Usage: 0.63ETH</p>
                            <button type="submit" class="btn btn-danger btn-fill">Delete</button>
                        </div>
                    </div>
                    <div class="card col-md-3 col-lg-3" style="text-align: center;">
                        <div class="card-header ">
                            <h4 class="card-title">L'équipe</h4>
                        </div>
                        <div class="card-body ">
                            <img width="75" src="/img/equipe.jpg"/>
                            <p>Usage: 0.08ETH</p>
                            <button type="submit" class="btn btn-danger btn-fill">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
